.account
.android/
.anyconnect
.atom/
.bash_history
.bash_profile_zipcar
.bash_sessions/
.cheetah/
.cups/
.emulator_console_auth_token
.gemrc
.grcat.sav.conf
.hgignore_global
.hushlogin
.lesshst
.local/
.oracle_jre_usage/
.profile
.rbenv/
.savannah/
.scep/
.subversion/
.Trash/
.viminfo
.wget-hsts
.xplanet_moved/
.xplanetFX/
.z
Applications/
colors/
Desktop/
Documents/
Downloads/
ftdetect/
known_hosts
Library/
Movies/
Music/
Pictures/
Public/
xaaid_rsa
id_rsa.pub
.tackle/
.tacklebox/
id_rsa
