.DS_Store
Desktop/
Documents/
Library/
Movies/
Music/
Pictures/
colors/
ftdetect/
Applications/
Downloads/
*.sparseimage
.CFUserTextEncoding
.ssh/
bin/t
.bash_profile.bak
Box Sync
MOVE ME BACK TO THUMB DRIVE
.bash_eternal_history
.AndroidStudio2.1
.oracle_jre_usage
.bash_history
.gradle
.lesshst
.wget-hsts
.bash_sessions
.bundle
.gemrc
.scep/gui.cfg
.cups/lpoptions
.emulator_console_auth_token
.Trash
migration/
bin/
*.old
*.bak
*.rnd
.android/
.atom
.gnupg
.git.txt
.config
.eclipse
VirtualBox VMs
bak/
.subversion
Google Drive
Public
Sites
.txt.txt
GearWatchDesigner
Documents-assets
bs
