[credential]
	helper = osxkeychain
[color]
	ui = true
[user]
	name = Michael Sattler
	email = michael.sattler@CreditKarma.com
[core]
	excludesfile = /Users/msattler/.gitignore_global
	whitespace = tabwidth=4
